header{
width:95%;
margin:auto;
text-align:center;
height:400px;
padding:10px;
background:orange;
}

nav{
width:70%;
height:40px;
padding:10px;
margin:auto;
}

nav ol li {list-style:none;display:inline;}



#leftbar{
width:15%;
height:400px;
padding:10px;
float:left;
margin-top:40px;

}


#middlebar{
width:64%;
height:400px;
padding:10px;
float:left;
margin:40px;
}


#rightbar{
width:10%;
height:400px;
padding:10px;
float:left;
margin-top:40px;

}

footer{
width:100%;
text-align:center;
height:200px;
padding:10px;
background:black;color:white;
clear:both;
}